# Google Search History
*Visual representataion of Google searches*

In [77]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json
from datetime import datetime

In [78]:
%matplotlib inline
sns.set_style('whitegrid')

In [92]:

pd.set_option('display.float_format', lambda x: '%.3f' % x)
df = pd.read_csv('history.csv')

for i in range(0,41):
    df.rename(columns = {'query/id/{}/timestamp_usec'.format(i):'timestamp_{}'.format(i)}, inplace = True)

df.dropna(axis=1, inplace=True) #Drop unnecessary collumns
    
    
df['timestamp_0'] = df['timestamp_0'].astype(float)
df['timestamp_0'] = df['timestamp_0'].map(lambda x: x / 1000000)
df['time_str'] = df['timestamp_0'].map(lambda x: datetime.fromtimestamp(x).strftime('%Y-%m-%d %H:%M:%S'))
df.tail()

,timestamp_0,query/query_text,time_str
3507,1364821611.762,Doodlebug,2013-04-01 08:06:51
3508,1364821433.384,christophr nolan,2013-04-01 08:03:53
3509,1364819589.285,rose,2013-04-01 07:33:09
3510,1364817629.059,"Brocki Basel Dreispitz@47.5363357,7.6075529",2013-04-01 07:00:29
3511,1364812397.342,"Muttenz, Dorf, Muttenz",2013-04-01 05:33:17